# Python
pycache/
.py[cod]
$py.class

# Virtual environment
venv/
.env
.env.

# Logs
logs/
.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlflow.db

# Artifacts
artifacts/*
!artifacts/model/
!artifacts/model/*

# Data
data/raw/
data/processed/

# Temporary
tmp/
temp/

# Python build
build/
dist/
*.egg-info/

# Docker
docker-compose.override.yml