# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Logs
logs/
*.log

# Data
data/
datasets/

# Artifacts
artifacts/
models/
mlruns/

# Jupyter
.ipynb_checkpoints/

# Mac
.DS_Store

# VS Code
.vscode/

# Docker
*.tar

# Kubernetes temp
*.yaml.bak